<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>تسجيل الدخول</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body { font-family: sans-serif; padding: 2em; background-color: #f4f6f7; }
        form { max-width: 400px; margin: auto; background: white; padding: 2em; border-radius: 8px; box-shadow: 0 4px 10px rgba(0,0,0,0.1); }
        input { width: 100%; padding: 0.8em; margin: 1em 0; border-radius: 6px; border: 1px solid #ccc; }
        button { background-color: teal; color: white; padding: 0.8em; width: 100%; border: none; border-radius: 6px; }
    </style>
</head>
<body>
    <form method="post" dir="rtl" style="text-align: right; max-width: 300px; margin: auto;">
        {% csrf_token %}
        {{ form.room_name.label_tag }}<br>
        {{ form.room_name }}<br><br>
    
        {{ form.password.label_tag }}<br>
        {{ form.password }}<br><br>
    
        <button type="submit">تسجيل الدخول</button>
    </form>
    
</body>
</html>
